<div class="max-w-2xl mx-auto bg-white rounded-md overflow-hidden shadow-md mt-5">
    <img src="https://images.unsplash.com/photo-1602343168117-bb8ffe3e2e9f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGhvdXNlc3xlbnwwfHwwfHx8MA%3D%3D" alt="Your Home Image" class="w-full h-64 object-cover object-center">
    <div class="p-4">
      <div class="text-2xl font-semibold text-gray-800">My Home Details</div>
      <div class="mt-2 text-gray-600">
        <p class="flex items-center">
          <svg class="w-5 h-5 fill-current text-gray-500 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16 2H8a3 3 0 0 0-3 3v2H4c-1.1 0-2 .9-2 2v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V7c0-1.1-.9-2-2-2h-1V5a3 3 0 0 0-3-3zm1 13h-2v2h-2v-2H9v-2h2v-2h2v2h2v2h2v2z"/></svg>
          Type: {{house.type}}
        </p>
        <p class="flex items-center mt-2">
          <svg class="w-5 h-5 fill-current text-gray-500 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 16h-2v-2h2v2zm0-4h-2V7h2v7z"/></svg>
          Area: {{house.area}}
        </p>
        <p class="flex items-center mt-2">
          <svg class="w-5 h-5 fill-current text-gray-500 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16 2H8a3 3 0 0 0-3 3v2H4c-1.1 0-2 .9-2 2v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V7c0-1.1-.9-2-2-2h-1V5a3 3 0 0 0-3-3zm1 13h-2v2h-2v-2H9v-2h2v-2h2v2h2v2h2v2z"/></svg>
          Rooms: {{house.rooms}}
        </p>
        <p class="flex items-center mt-2">
          <svg class="w-5 h-5 fill-current text-gray-500 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16 2H8a3 3 0 0 0-3 3v2H4c-1.1 0-2 .9-2 2v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V7c0-1.1-.9-2-2-2h-1V5a3 3 0 0 0-3-3zm1 13h-2v2h-2v-2H9v-2h2v-2h2v2h2v2h2v2z"/></svg>
          Garage: {{house.garage}}
        </p>
      </div>
    </div>
  </div>